@import 'colors/tokyo-night.css';

* {
    border: none;
    border-radius: 0;
    font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo";
    font-weight: bold;
    font-size: 13.5px;
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background-color: @bg0;
    border: 1px solid @bg3;
    border-radius: 12px;
}

tooltip label {
    color: @fg;
    padding: 10px;
}

#workspaces {
    background-color: @bg0;
    padding: 5px 3px;
    margin: 0 0 0 12px;
    border-radius: 16px;
    border: 1px solid @bg1;
    color: @fg;
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 50px;
    color: transparent;
    background-color: @bg1;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: @blue;
    color: @bg0;
    min-width: 50px;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}

#workspaces button:hover {
    background-color: @purple;
    color: @bg0;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    background-color: @red;
    color: @bg0;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;  
}

#custom-notification {
    background-color: @bg0;
    padding: 0 18px 0 18px;
    margin: 0 0 0 18px;
    border-radius: 50px;
    border: 1px solid @bg1;
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
}

#custom-weather {
    background-color: @bg0;
    color: @red;
    padding: 0 12px 0 12px;
    margin: 0 0 0 12px;
    border-radius: 50px;
    border: 1px solid @bg1;
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;    
}

#custom-media {
    background-color: @bg0;
    color: @aqua;
    padding: 0 12px 0 12px;
    margin: 0 0 0 12px;
    border-radius: 50px;
    border: 1px solid @bg1;
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;    
}

#clock {
    background-color: @bg0;
    color: @blue;
    padding: 0 12px 0 12px;
    margin: 0 0 0 12px;
    border-radius: 50px;
    border: 1px solid @bg1;
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
}

#cpu {
    background-color: @bg0;
    color: @purple;
    padding: 0 12px 0 12px;
    margin: 0 0 0 12px;
    border-radius: 50px;
    border: 1px solid @bg1;
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
}

#memory {
    background-color: @bg0;
    color: @green;
    padding: 0 12px 0 12px;
    margin: 0 0 0 12px;
    border-radius: 50px;
    border: 1px solid @bg1;
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
}

#custom-notification {
    color: @fg;
    background-color: @bg0;
    padding: 0 12px 0 12px;
    margin: 0 12px 0 12px;
    border-radius: 50px;
    border: 1px solid @bg1;
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
}

#pulseaudio {
    color: @yellow;
    background-color: @bg0;
    padding: 0 10px 0 10px;
    margin: 0 0 0 12px;
    border-radius: 50px;
    border: 1px solid @bg1;
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
}
